<header>
  <h1><%= @point.title %></h1>
</header>
<p><%= @point.description %></p>
<p>score: <%= @point.score %></p>
<p>tag: <%= @point.tag %></p>
<p>author: <%= @point.author.name %></p>
<%= button_to "upvote", upvote_point_path(@point.id) %>
<%= button_to "downvote", downvote_point_path(@point.id) %>

<h2>Contributions</h2>

<form action='/contributions', method='post'>
  <input type='hidden' name='point_id' value='<%=@point.id%>'>
  Title:<br>
  <input type="text" name="title">
  <br>
  Description:<br>
  <input type="text" name="text">
  <br>
  Image Url:<br>
  <input type="text" name="image_url">
  <input type='submit' />
</form>

<ul>
  <% @contributions.each do |contribution| %>
    <li>
      <img src="<%= contribution[:contribution].image_url %>" />
      <h2><%= contribution[:contribution].title %></h2>
      <p><%= contribution[:contribution].text %></p>
      <p>score: <%= contribution[:contribution].score %></p>
      <p>author: <%= contribution[:contribution].author.name %></p>
      <%= button_to "upvote", upvote_contribution_path(contribution[:contribution].id) %>
      <%= button_to "downvote", downvote_contribution_path(contribution[:contribution].id) %>
      <ul>
        <form action='/comments', method='post'>
          <h3>Add Comment</h3>
          <input type='hidden' name='contribution_id' value='<%=contribution[:contribution].id%>'>
          Text:<br>
          <input type="text" name="text">
          <input type='submit' />
        </form>
        <% contribution[:comments].each do |comment| %>
          <li>
            <p><%= comment.text %></p>
            <p>score: <%= comment.score %></p>
            <%= button_to "upvote", upvote_comment_path(comment.id) %>
            <%= button_to "downvote", downvote_comment_path(comment.id) %>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
